@model ReviewsSite.Models.Category
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />


</head>
<body>
    <p>@Model.Type</p>
</body>
<a href="/">Back</a>
</html>
