@model ReviewsSite.Models.Tag
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />

</head>
<body>
    <h1>@Model.Text</h1>
    <section>
        <ul>
        @foreach (var reviewTag in Model.ReviewTags)
        {
            <li>
                <a href="/home/details/@reviewTag.ReviewId">@reviewTag.Review.Title</a>
            </li>
        }
        </ul>
    </section>
    <a href="/">Back</a>
</body>
</html> 